*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.ruby-version
.vagrant
.sass-cache
# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
whitelabel_config.rb
# Vagrant artifacts
ubuntu-*-console.log
