
.logo-wrapper {
	@include background(
    linear-gradient(top,
                    rgba(#000, 0.2),
                    rgba(#000, 0) 4px),
    linear-gradient(bottom,
                    rgba(#000, 0.2),
                    rgba(#000, 0) 4px),
    linear-gradient(top,
                    rgba($logo-bg, 1),
                    rgba($logo-bg, 0) 1.5px),
    linear-gradient(bottom,
                    rgba($logo-bg, 1),
                    rgba($logo-bg, 0) 0.5px),
    $logo-bg
  );
  //background-color: $logo-bg;
	


    //background-color: #253746 !important;
    display: block;
    padding: .809em;
    //margin-bottom: .809em;
    z-index: 200;
    //background-color: #2980B9;
    text-align: center;
    display: block;
    color: #fcfcfc;
    //font-size: 16px;

    &>.search {
      position: relative;

      input {
        width: 100%;
        @include box-sizing(border-box);
        outline: none;
        color: #000;
        font-weight: normal;
        border-radius: 0; /* ios has a default border radius */
        border-radius: 50px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 50px;
        padding: 6px 12px;
        border-color: #2472a4;
      }

      // &:before {
      //   position: absolute;
      //   top: 17px;
      //   left: $nav-padding;
      //   color: $nav-text;
      //   @extend %icon-search;
      // }
    }

    .search-results {
      margin-top: 12px;
      @include box-sizing(border-box);
      height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      @include transition-property(height margin);
      @include transition-duration(180ms);
      @include transition-timing-function(ease-in-out);
      &.visible {
        height: 30%;
        margin-bottom: 1em;
      }

      

      li {
        margin: 1em $nav-padding;
        line-height: 1;
        text-align: left;
      }

      a {
        color: $nav-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

}

.logo-link {
  color: #fcfcfc;
  font-size: 100%;
  font-weight: bold;
  display: inline-block;
  padding: 1px 1px;
  margin-bottom: .001em;
  text-decoration: none;
}

img.logo {
  width: 200px !important;
	padding: 5px;
  margin: 0 auto;
  display: block;
  height: auto;
  //height: 29.25px;
  max-width: 100%;
  border-radius: 0;
  max-width: 100%;
  background: transparent;
}

.tocify-wrapper {
  div.version {
  	text-align: center;
  	color: #ffffff;
  	margin-top: -.4045em;
  	margin-bottom: .809em;
  	font-weight: normal;
  	font-size: 16px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
  }


  div.caption {
    //padding: 12px 0 0 0;
    height: 32px;
    line-height: 32px;
    .caption-text {
      padding: 0 15px;
      color: $nav-caption-text;
      text-transform: uppercase;
    }
  }

}