img.logo {
	padding: 12px 16px;
	width: 190px;
}

.tocify-wrapper div.version {
	text-align: center;
	color: #ffffff;
	margin-top: -.4045em;
	margin-bottom: .809em;
	font-weight: normal;
	font-size: 16px;
}